# System
.DS_Store

# IDE
.idea
.vscode

# Packages
node_modules

# Lock files
package-lock.json
yarn.lock

# Sources
/src

*.swp
*~
*.iml
.*.haste_cache.*
.babelrc
.eslintrc
.prettierrc
npm-debug.log
node_modules
readme.md
